---
import type { CollectionEntry } from "astro:content";
import ProjectDate from "@/components/projects/ProjectDate.astro";
import ProjectNav from "@/components/projects/ProjectNav.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, description, endDate, image, link } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="u-container">
    {image && <img src={image} alt="" />}
    <div class="project__date">
      <ProjectDate date={endDate} />
    </div>
    <h1>{title}</h1>
    <div class="project__body prose">
      <slot />
    </div>
    {
      link ? (
        <a class="project__link" href={link} target="_blank" rel="noopener noreferrer">
          <button>Open project in new tab</button>
        </a>
      ) : null
    }

    <ProjectNav />
  </article>
</BaseLayout>

<style>
  article {
    margin: var(--space-2xl) auto;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1200 / 627;
  }

  h1 {
    font-family: var(--font-serif);
    font-size: var(--step-6);
    margin-bottom: var(--space-l);
  }

  button {
    width: 100%;
  }

  .project__date {
    color: var(--color-gray);
    margin: var(--space-2xs) 0 var(--space-3xs);
  }

  .project__body {
    margin-bottom: var(--space-l);
  }

  .project__link {
    display: flex;
    justify-self: flex-end;
    width: 100%;
  }

  @media (min-width: 720px) {
    .project__link {
      width: auto;
    }
  }
</style>
